.greskaForm{
    color:red;
    font-size: 14px;
    float:left;
    font-weight: 600;
    margin-left: 12px;
}

.hide{
    visibility: hidden;
    padding-left: 30px;
   
}
.greskaRadio{
    color: red;
    font-size: 18px;
    font-weight: 600;
}
.sentFormText{
    color: blue;
    font-size: 20px;
}
.greskaTb{
    color: red;
    font-size: 18px;
    font-weight: 600;
}

#author {
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 80px;
}
/* #author img {
    float: left;
    margin-right: 30px;
    max-width: 100%;
    overflow: hidden;
} */
#author p{
    padding-top: 7.5px;
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 21px;
    font-weight: 600;
    color: #232323;
    letter-spacing: 0.5px;
}
@media (max-width: 768px) {
    #author {
        padding-left: 15px;
        padding-right: 15px;
    }
    #author img {
        float: none;
        width: 100%;
        margin-bottom: 15px;
      }
}
.effect{
    transition: .5s ease;
    opacity: 0.7;
  
}